.root {
  flex-direction: column;
  padding: 0 0 0 10px;
}
._4 {
  color: #fff;
  font-size: 39.09px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
