.btn.btn {
  left: 66.2222%;
  right: 0;
  top: 0;
  bottom: 0.7874%;
  width: 228px;
  height: 63px;
  place-content: center;
  align-items: center;
}
._6 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.btn2.btn2 {
  left: 29.4814%;
  right: 41.3333%;
  top: 0.7874%;
  bottom: 0;
  width: 197px;
  height: 63px;
  place-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: initial;
}
._62 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.btn3.btn3 {
  left: 0;
  right: 70.8148%;
  top: 0.7874%;
  bottom: 0;
  width: 197px;
  height: 63px;
  place-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: initial;
}
._63 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.textScale.textScale {
  align-self: flex-start;
}
._2 {
  color: #fff;
  font-size: 92.5899px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.btn4.btn4 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  padding: 4px 20px 4px 4px;
  border-radius: 100px;
  background-color: #00ffd1;
}
._64 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.btn5.btn5 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  padding: 4px 20px 4px 4px;
  border-radius: 100px;
  background-color: #ffc530;
}
._65 {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
._4 {
  color: #fff;
  font-size: 39.09px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
._42 {
  color: #fff;
  font-size: 39.09px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.iIT.iIT {
  position: absolute;
  left: 15.0822%;
  right: 33.8208%;
  top: 6.5517%;
  bottom: 81.3793%;
  align-self: flex-start;
}
._43 {
  color: #fff;
  font-size: 29.3299px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.textScale2.textScale2 {
  position: absolute;
  left: 18.0987%;
  right: 0.0914%;
  top: 26.5517%;
  bottom: 64.1379%;
  align-self: flex-start;
}
._66 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.iIT2.iIT2 {
  position: absolute;
  left: 15.0822%;
  right: 23.2175%;
  top: 67.5862%;
  bottom: 20.3448%;
  align-self: flex-start;
}
._44 {
  color: #fff;
  font-size: 29.3299px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.textScale3.textScale3 {
  position: absolute;
  left: 18.0987%;
  right: 0;
  top: 87.5862%;
  bottom: 3.1034%;
  align-self: flex-start;
}
._67 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.projects.projects {
  position: absolute;
  left: 0;
  right: 53.4511%;
  top: 0;
  bottom: 91.4233%;
  align-self: flex-start;
}
._45 {
  color: #fff;
  font-size: 39.09px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
._1 {
  color: #fff;
  font-size: 29.3299px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
._12 {
  color: #fff;
  font-size: 29.3299px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  flex: 1;
  align-self: stretch;
  height: initial;
  flex-direction: column;
  align-items: center;
  gap: 545px;
  overflow-y: auto;
}
.frame16 {
  flex-direction: column;
  align-items: flex-start;
  gap: 138px;
}
.frame15 {
  flex-direction: column;
  align-items: flex-start;
  gap: 57px;
}
.frame14 {
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.frame7 {
  flex-direction: column;
  align-items: center;
  gap: 146px;
}
.header {
  place-content: center;
  align-items: center;
  gap: 293px;
}
.yashkc2025 {
  font-size: 96px;
  font-family: Briberra DEMO, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 400px;
  height: 120px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: relative;
  width: 675px;
  height: 63.5px;
}
.hero {
  position: relative;
  width: 1070px;
  height: 378px;
  place-content: center;
  align-items: center;
}
.frame6 {
  position: absolute;
  left: 3px;
  top: -39px;
  flex-direction: column;
  align-items: center;
}
.frame1 {
  flex-direction: column;
  padding: 10px;
}
.frame2 {
  align-self: flex-start;
  flex-direction: column;
  padding: 10px;
}
.frame5 {
  height: 127px;
  flex-direction: column;
  padding: 0 0 22px;
}
.frame4 {
  align-self: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.iAmAFreshmanAtIITMadrasPursuin {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 1070px;
  height: 76px;
  text-align: center;
  justify-content: center;
}
.frame10 {
  align-items: flex-start;
  gap: 143px;
}
.frame8 {
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.technologiesIcons {
  align-items: flex-end;
  gap: 21px;
}
.html5Original1 {
  width: 69px;
  height: 63px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.css3Original1 {
  width: 65px;
  height: 65px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.pythonOriginal1 {
  width: 77px;
  height: 77px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.vscodeOriginal1 {
  width: 68.9655px;
  height: 69px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.gitOriginal1 {
  width: 68.9655px;
  height: 69px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.mysqlOriginal1 {
  width: 68.9655px;
  height: 69px;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.javascriptOriginal1 {
  width: 68.9655px;
  height: 69px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.coding {
  width: 595px;
  height: 432px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.frame9 {
  flex-direction: column;
  align-items: flex-start;
  gap: 89px;
}
.iIT3 {
  position: relative;
  width: 1094px;
  height: 290px;
}
.image1 {
  position: absolute;
  left: 1.5539%;
  right: 88.2084%;
  top: 0;
  bottom: 61.3793%;
  width: 112px;
  height: 112px;
  background-image:/* webpackIgnore: true */ url('assets/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.unnamed1 {
  position: absolute;
  left: 0;
  right: 86.563%;
  top: 56.2068%;
  bottom: 0;
  width: 147px;
  height: 127px;
  background-image:/* webpackIgnore: true */ url('assets/unnamed1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame3 {
  flex-direction: column;
}
.frame32 {
  align-self: flex-start;
  flex-direction: column;
}
.projects2 {
  position: relative;
  width: 1188px;
  height: 548px;
}
.developers1 {
  position: absolute;
  left: 1.0942%;
  right: 95.0336%;
  top: 0.1824%;
  bottom: 91.4233%;
  width: 46px;
  height: 46px;
  background-image:/* webpackIgnore: true */ url('assets/developers1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame12 {
  position: absolute;
  left: 2.3569%;
  right: 0;
  top: 32.2992%;
  bottom: 0;
  align-self: flex-start;
  align-items: center;
  gap: 182px;
}
.undraw_project_completed_re_jr {
  width: 498px;
  height: 371px;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame11 {
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.frame13 {
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.social {
  align-items: center;
  gap: 24px;
}
.designedAndDevelopedByYashKuma {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 706px;
  height: 37px;
  text-align: center;
  justify-content: center;
}
