@import "./components/styles/navbar.css";
@import "./components/styles/tools.css";
@import "./components/styles/quotes.css";
@import "./components/styles/hero.css";
@import "./components/styles/contact.css";
@import "./components/styles/about.css";
@import "./components/styles/mobile-nav.css";

@import "./components/styles/media-queries.css";

.mobile-only {
  display: none;
  /* text-align: center; */
  color: white;
}
body {
  background-color: #141617;
  padding: 2rem;
}
.footer {
  margin-top: 30px;
  text-align: center;
  color: violet;
  font-family: "Inter Tight";
}
