.App {
  text-align: center;
}

body{
  /* background-color: green; */
}
.tool-combo{
  display:flex;

}

.tool{
  padding:1rem;
}

.tool > img{
  height:60px;
  margin-bottom: 0;

}

.tool >h3{
  margin-top:0;
}
/* 
.JavaScript{
  border-radius:1px;
  border-style: solid;
}

.JavaScript:hover{
  color:white;
  background-color: yellow;
}

.Java:hover{
  background-color: orange;
}

.HTML:hover{
  background-color: red;
  filter: blur(5px);
} */

.tool-combo:hover >div{
  filter:blur(5px);
}

.tool-combo:hover >div:hover{
  filter:blur(0px);
}


